.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 15px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-color: pink;
  border-radius: 60;
  border: 1cm;
  gap: 20px;
}
.card {
  background-color: blue;
  border-color: pink;
  border-radius: 60;
  border: 1cm;
  margin: 5px;
  padding-top: 10px;
}
